<!-- <iframe id="video" src="//www.youtube.com/embed/{{linkid}}?iv_load_policy=3&rel=0&showsearch=0&theme=light" frameborder="0" allowfullscreen></iframe> -->
<img class="centered-and-cropped" id="backgroundimage" src="{{photosource}}" border="0" alt="">
<div class="centered-thing whitish">


<div class="centered-thing intro">

<h4>{{songposter}} recommends <br><h2>{{title}}</h2><br> {{howago}}.</h4><br>
<div id="labtn" href={{songlink}}><h3>Listen To This KGP!</h3></div>
</div>
<iframe width="560" height="400" frameborder="0" id="iframe1" autoplay allowfullscreen></iframe>
<!-- src="https://www.youtube.com/embed/{{songlink}}"  -->
<br>
<div class="theysay"><p><a href={{perma}}>{{postername}} says</a> "<i>{{songmsg}}</i>"</p>
</div>

</div>



<div id="footer">
<h5>Background courtesy : <a href={{photolink}}>{{photoalbum}}</a> by {{photopage}} | Created by <a href="http://iashris.com">iashris</a> with <span style="color:red">&#10084;</span></h5>
</div>